/* This file only contains styles for the AHI page */

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
                    url('images/Amidon_ROV.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#quarto-content, #quarto-margin-sidebar, .page-columns, main {
  background-color: transparent !important;
}

.quarto-post {
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}